{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumable File Upload with TUS</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <div class="card">
            <h2>TUS Resumable Upload</h2>
            <input type="file" id="fileInput" />
            <div id="progressContainer">
                <div id="progressBar"></div>
            </div>
            <div id="sizeInfo">Total Size: <span id="totalSize">0 MB</span> | Uploaded Size: <span id="uploadedSize">0 MB</span></div>
            <button id="upload-btn">Upload</button>
        </div>
        <div id="uploads">
        </div>
    </div>
    <!-- import tus js client -->
    <script src="https://cdn.jsdelivr.net/npm/tus-js-client@4.0.1/dist/tus.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>

</html>